body {
    background: rgb(37, 9, 9);
}

.picture {
    display: flex;
    justify-content: center;
}
.picture img {
    margin: 1em;
}
.word {
    display: flex;
    justify-content: center;
}
.today, code {
    font-size: xx-large;
    color: aquamarine;
}
code {
    background: black;
    justify-content: space-around;
    display: flex;
    width: 20%;
    margin-left: 38%;
    padding: 10px;
    border: 5px beige solid;
    border-radius: 3px;
    box-shadow: 10px 5px 5px beige;
}
code ~ p, h2 {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: wheat;
}
code ~ p {
    margin: 2rem;
}
code ~ h2 {
    margin: -1rem;
}