body {
    background: rgb(37, 9, 9);
}

.picture {
    display: flex;
    justify-content: center;
}
.picture img {
    margin: 1em;
}
.word {
    display: flex;
    justify-content: center;
}
.today, code {
    font-size: xx-large;
    color: aquamarine;
}
code {
    background: black;
    justify-content: space-around;
    display: flex;
    width: 20vw;
    margin-left: 38%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 5px beige solid;
    border-radius: 3px;
    box-shadow: 10px 5px 5px beige;
}

.hour-month {
    display: grid;
    grid-template-columns: 30% auto 30%;
}

code.hours {
    margin-left: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 18px;
    background: #375719;
    box-shadow: inset 10px 10px 26px #22350f, 
                inset -10px -10px 26px #4c7923;
    border: 0;
}
code.month {
    grid-column-start: 3;
    grid-column-end: 3;
    border-radius: 18px;
    background: linear-gradient(145deg, #3b5d1b, #324e17);
    box-shadow:  24px 24px 48px #1c2c0d, 
             -24px -24px 48px #528225;
    border: 0;
}
code ~ p, h2 {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: wheat;
}
code ~ p {
    margin: 2rem;
}
code ~ h2 {
    margin: -1rem;
}