/* var blue(#25516b);
var teal(#25516b);
var green(#528225); */


body {
    background: rgb(37, 9, 9);
}

.picture {
    display: flex;
    justify-content: center;
}
.picture img {
    margin: 1em;
}
.word {
    display: flex;
    justify-content: center;
}
.today, code {
    font-size: xx-large;
    color: aquamarine;
}
code {
    background: black;
    justify-content: space-around;
    display: flex;
    width: 20vw;
    margin-left: 38%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 5px beige solid;
    border-radius: 3px;
    box-shadow: 10px 5px 5px beige;
}

.hour-month {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.hours, .month, .mins {
    margin-left: 0;
    border-radius: 18px;
    border: 0;
    font-family: 'Kaushan Script', cursive;
}

code.hours {
    grid-column-start: 2;
    grid-column-end: 2;
    background: #3b5d1b;
    box-shadow:  -12px -12px 24px #25516b, 
             12px 12px 24px #528225;
}
code.month {
    grid-column-start: 3;
    grid-column-end: 3;
    background: linear-gradient(145deg, #3b5d1b, #324e17);
    box-shadow:  12px -12px 24px #25516b, 
             -12px 12px 24px #528225;
}
code.mins {
    grid-column-start: 4;
    grid-column-end: 4;
    background: linear-gradient(145deg, #3b5d1b, #324e17);
    box-shadow:  12px 12px 24px #25516b, 
             12px 12px 24px #528225;
}
code ~ p, h2 {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: wheat;
}
code ~ p {
    margin: 2rem;
}
code ~ h2 {
    margin: -1rem;
}

img {
    filter: grayscale(10%);
}